.header {
    padding: 20px 0;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
&__left{
    display: flex;
    align-items: center;
    column-gap: 25px;
    
}
&__right{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
}